.App {
  text-align: center;
  background-color: #001489;
  color: white;
  background-image: url(https://img.chelseafc.com/image/upload/f_auto,c_pad,w_230,h_230,ar_1,q_auto:best/Site%20Chelsea%20Badges/Main_Website_Badge_-_Colour.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position-x: 25px;
 
  padding: 30px;
 
}
h1 {
  margin-top: 0;
}
a{
  color: white;
  font-weight: bold;
}

.newsList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.newsItem {
  background-color: #ffffff11;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.newsItem img {
  max-width: 100%; 
  height: auto;
}
.buttonStyle {

 
  z-index: 1; 
  background-color: #001489;
  padding: 10px;
  width: 100%;
}

.buttonStyle button{
  color: white;
  background-color: #001489;
  border: 3px solid black;
  padding: 10px 20px;
  cursor: pointer;
}
